<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>스프링부트 시험</title>
    <style>
        .test01{display:flex;list-style: none;gap:10px;}
        .test01 img{max-width:100%;}
    </style>
</head>
<body>
    <h1>메인화면</h1>
    <ul>
        <li><a href="/member/logout">/member/logout</a></li>
        <li><a href="/board/delete">/board/delete</a></li>
    </ul>
    <h2>캡쳐화면</h2>
    <ul class="test01">
        <li><img src="/images/aws_01.jpg" alt="과정1"></li>
        <li><img src="/images/aws_02.jpg" alt="과정2"></li>
        <li><img src="/images/aws_03.jpg" alt="과정3"></li>
        <li><img src="/images/aws_04.jpg" alt="과정4"></li>
        <li><img src="/images/aws_05.jpg" alt="과정5"></li>
    </ul>
</body>
</html>